/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/eb-garamond/eb-garamond-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('EB Garamond'), local('EBGaramond'),
       url('../../fonts/eb-garamond/eb-garamond-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/eb-garamond/eb-garamond-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/eb-garamond/eb-garamond-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/eb-garamond/eb-garamond-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/eb-garamond/eb-garamond-v7-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

/* amatica-sc-regular - latin */
@font-face {
  font-family: 'Amatica SC';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/amatica-sc/amatica-sc-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amatica SC'), local('AmaticaSC-Regular'),
       url('../../fonts/amatica-sc/amatica-sc-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/amatica-sc/amatica-sc-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/amatica-sc/amatica-sc-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/amatica-sc/amatica-sc-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/amatica-sc/amatica-sc-v1-latin-regular.svg#AmaticaSC') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/open-sans/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../../fonts/open-sans/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/open-sans/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/open-sans/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/open-sans/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/open-sans/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* poiret-one-regular - latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/poiret-one/poiret-one-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poiret One'), local('PoiretOne-Regular'),
       url('../../fonts/poiret-one/poiret-one-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/poiret-one/poiret-one-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/poiret-one/poiret-one-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/poiret-one/poiret-one-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/poiret-one/poiret-one-v4-latin-regular.svg#PoiretOne') format('svg'); /* Legacy iOS */
}
