body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#main {
  height: 100vh;
  width: 100vw;
}

.content {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.centered-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.icon {
  color: white;
  transition: all 0.3s ease;
}

.node {
  align-items: center;
  background-color: #8caad2;
  border-bottom: 4px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  bottom: 50px;
  left: 50px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 80px;
  justify-content: center;
  opacity: 1;
  position: absolute;
  transition: all 0.3s ease;
  width: 80px;
  z-index: 1;
}

.node:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
}

.selected-node.node:hover {
  box-shadow: -1px 1px 8px rgba(0,0,0,0.4);
}

.selected-node .node-label {
  font-size: 42px;
  bottom: -56px;
}

.node-label {
  bottom: -32px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  transition: all 0.1s ease;
}

.about-me,
.selected-node {
  align-items: center;
  box-shadow: -1px 1px 8px rgba(0,0,0,0.6);
  border-bottom: 5px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
}

.selected-node {
  left: 0;
  transition: all 0.3s ease;
}

.node-selected .about-me-node-container {
  z-index: 2;
}

.node-selected .selected-node.node {
  animation: landing 0.4s ease 0.3s 1;
  cursor: default;
  z-index: 3;
}

.hidden-node.node {
  opacity: 0;
}

.about-me-node-container {
  padding: 10px;
  position: relative;
  z-index: 4;
}

.about-me-node-container.node-pressed .about-me {
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: none;
  transform: translate(-1px, 2px);
}

.about-me {
  background-color: #d7d7d7;
  border-bottom-color: rgba(0,0,0,0.6);
  overflow: hidden;
  transition: all 0.3s ease;
}

.about-me:hover {
  box-shadow: -1px 1px 10px rgba(0,0,0,0.8);
}

.node-selected .about-me {
  transform: translateY(400px) scale(0.5);
}

.mask {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.about-me-section {
  opacity: 1;
  position: relative;
  transition: all 0.2s ease;
  z-index: 2;
}

.about-me-moving.about-me-section,
.node-selected .about-me-section {
  opacity: 0;
}

.node.selected-node .return-home {
  display: flex;
}

.return-home {
  align-items: center;
  background: white;
  border: 4px solid white;
  border-radius: 50%;
  top: 0px;
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  cursor: pointer;
  display: none;
  height: 42px;
  justify-content: center;
  position: absolute;
  left: 0px;
  width: 42px;
}

.return-home .icon {
  color: black;
}

.return-home:hover {
  box-shadow: 0 1px 8px rgba(0,0,0,0.8);
}

.selected-node,
.about-me-node-container,
.profile-picture-image {
  height: 160px;
  width: 160px;
}

.content-section {
  bottom: -80px;
  height: 200px;
  position: absolute;
  width: 420px;
  z-index: 1;
}

.content-node {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition: all 0.3s ease;
  opacity: 0;
}

.content-node-icon {
  align-items: center;
  border: 1px solid rgba(0,0,0,0.4);
  border-bottom-width: 3px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  width: 60px;
}

.content-node.jobs .content-node-icon {
  height: 100px;
  width: 100px;
}

.content-node-icon-image {
  height: 30px;
  width: 30px;
}

.content-node-icon-image.full-bleed {
  height: 100%;
  width: 100%;
}

.content-node-icon .icon {
  color: black;
}

.content-node-link {
  text-decoration: none;
}

.content-node-label {
  background-color: #e4e4e4;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  bottom: -10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  color: black;
  display: none;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-top: 12px;
  position: absolute;
  text-align: center;
  width: 70px;
}

.content-node-tooltip {
  position: absolute;
  color: black;
  top: -20px;
  font-size: 12px;
  text-align: center;
  display: none;
  width: 120px;
}

.show-content-label .content-node-label,
.content-node:hover .content-node-label,
.content-node:hover .content-node-tooltip {
  display: block;
}

.skill-info,
.job-info,
.project-info,
.idea-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.skill-description {
  color: rgba(0,0,0,0.8);
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
}

.skill-level {
  border-radius: 18px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  color: white;
  font-size: 12px;
  line-height: 18px;
  margin-top: 8px;
  padding: 2px 6px;
  text-align: center;
  width: 80px;
}

.skill-title,
.job-company,
.project-title {
  font-size: 20px;
  font-weight: bold;
}

.job-timeframe {
  color: rgba(0,0,0,0.4);
  font-size: 16px;
  margin-top: 4px;
}

.job-skills {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.job-skill {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 8px;
}

.job-skill .icon {
  color: black;
}

.job-skill-image {
  height: 24px;
  width: 24px;
}

.job-description {
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}

.project-description {
  color: rgba(0,0,0,0.8);
  font-size: 16px;
  margin-top: 8px;
  text-align: center;
}

.idea-section-title {
  color: rgba(0,0,0,0.4);
  font-size: 12px;
}

.idea-case {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.8);
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: 4px;
  width: 400px;
}

.profile-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-bio-item {
  display: flex;
  margin-top: 6px;
}

.profile-bio-item:first-child {
  margin-top: 0;
}

.profile-bio-links.profile-bio-item {
  margin-top: 12px;
}

.profile-bio-description {
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  text-align: center;
  width: 290px;
}

.profile-bio-contact .icon {
  color: rgba(0,0,0,0.4);
}

.profile-bio-contact:hover .icon {
  color: black;
}

.profile-bio-contact {
  margin-left: 12px;
}

.profile-bio-contact:first-child {
  margin-left: 0;
}

.node-header {
  font-size: 42px;
  font-weight: bold;
}

.profile-bio-school {
  font-size: 22px;
}

.profile-bio-job {
  font-size: 18px;
  color: rgba(0,0,0,0.6);
}

.profile-bio-cursor {
  animation: cursor-animation 1s step-end infinite;
  margin-left: 4px;
  width: 4px;
  background: rgba(0,0,0,0.6);
}

.profile-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.unselectable {
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}

/* IDEA SECTION */
.neon-letters {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 42px;
  text-shadow: 0 0 12px blue;
}

.neon-letters .red {
  text-shadow: 0 0 12px red;
}

/* ANIMATIONS */
@keyframes landing {
  0%, 100% {
    transform: translate(10px, 0) scale(1);
    transform-origin: center;
  }

  30% {
    transform: translate(10px, 0) scale(1.2);
    transform-origin: center;
  }
}

@keyframes cursor-animation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
